spring:
  profiles:
    active: dev

---
server:
  port: 7001
spring:
  profiles: dev
  application:
    name: eurka-server-7001
eureka:
  instance:
    hostname: eureka7001.com
  client:
    register-with-eureka: false  #表示不向eureka注册中心注册自己
    fetch-registry: false  #为false，表示自己是注册中心
    service-url:
      defaultZone: http://eureka7003.com:7003/eureka/,http://eureka7002.com:7002/eureka/
---
server:
  port: 7001
spring:
  profiles: test
  application:
    name: eurka-server-7001
eureka:
  instance:
    hostname: eureka7001.com
  client:
    register-with-eureka: false  #表示不向eureka注册中心注册自己
    fetch-registry: false  #为false，表示自己是注册中心
    service-url:
      defaultZone: http://eureka7003.com:7003/eureka/,http://eureka7002.com:7002/eureka/
